name: synheart_behavior
description: A lightweight, privacy-preserving mobile SDK that collects digital behavioral signals from smartphones.
version: 1.0.0
homepage: https://github.com/synheart-ai/synheart-behavior-flutter

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  plugin:
    platforms:
      android:
        package: ai.synheart.behavior
        pluginClass: SynheartBehaviorPlugin
      ios:
        pluginClass: SynheartBehaviorPlugin

